<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<material name="White">
  <color rgba="1.0 1.0 1.0 1.0"/>
</material>

<material name="Red">
  <color rgba="1.0 0.0 0.0 1.0"/>
</material>

<material name="Green">
  <color rgba="0.0 0.5 0.0 1.0"/>
</material>

<material name="Lime">
  <color rgba="0.0 1.0 0.0 1.0"/>
</material>

<material name="Blue">
  <color rgba="0.0 0.0 1.0 1.0"/>
</material>

<material name="Yellow">
  <color rgba="1.0 1.0 0.0 1.0"/>
</material>

<material name="Cyan">
  <color rgba="0.0 1.0 1.0 1.0"/>
</material>

<material name="Magenta">
  <color rgba="1.0 0.0 1.0 1.0"/>
</material>

<material name="Orange">
  <color rgba="1.0 0.65 0.0 1.0"/>
</material>

<material name="Purple">
  <color rgba="0.5 0.0 0.5 1.0"/>
</material>

<material name="Grey">
  <color rgba="0.5 0.5 0.5 1.0"/>
</material>

<material name="DarkGrey">
  <color rgba="0.66 0.66 0.66 1.0"/>
</material>

<material name="Silver">
  <color rgba="0.75 0.75 0.75 1.0"/>
</material>

<material name="LightGrey">
  <color rgba="0.83 0.83 0.83 1.0"/>
</material>

<material name="Black">
  <color rgba="0.0 0.0 0.0 1.0"/>
</material>

<xacro:macro name="color_macro" params="name r g b a:=255">
  <material name="${name}">
    <color rgb="${${r}/255} ${${g}/255} ${${b}/255} ${${a}/255}"/>
  </material>
</xacro:macro>

</robot>