<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="map_file" default="$(env HOME)/map/my_gazebo_world.map.yaml" />
    <arg name="params_file"
        default="$(find-pkg-share my_gazebo)/param/diff_robot_nav2.yaml" />
    <arg name="launch_file"
        default="$(find-pkg-share nav2_bringup)/launch/bringup_launch.py" />
    <arg name="rviz_config_file"
        default="$(find-pkg-share turtlebot3_navigation2)/rviz/tb3_navigation2.rviz" />
    
    <include file="$(var launch_file)">
        <arg name="map" value="$(var map_file)" />
        <arg name="use_sim_time" value="$(var use_sim_time)" />
        <arg name="params_file" value="$(var params_file)" />
    </include>

    <node pkg="rviz2" exec="rviz2" args="-d $(var rviz_config_file)">
        <param name="use_sim_time" value="true" />
    </node>
</launch>